{% extends "base.html" %}
{% block title %} - Login{% endblock %}

{% block content %}

<h2>Login</h2>
{% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
<form action="{{ url_for('login') }}" method="post" accept-charset="utf-8">
  <dl>
    <dt>Username:
    <dd><input type="text" name="username" class="user">
    <dt>Password:
    <dd><input type="password" name="password" class="pass">
  </dl>
  <input type="submit" value="Login" class="button"/>
</form>

{% endblock %}